{
	"extends": ["stylelint-config-recommended", "stylelint-config-recess-order"],
	"customSyntax": "@stylelint/postcss-css-in-js",
	"rules": {
		"selector-nested-pattern": "^&",
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"function-no-unknown": null
	}
}
